<!DOCTYPE html>
<!-- Template: d.admin.backup.html -->
<html lang="fr">

	<?php include('blocks/d.head.html'); ?>

	<body>

		<?php include('blocks/d.nav.html'); ?>

		<section>
			<h1><?=$head['title']?></h1>
			<br>
			<pre><?php
				foreach($output as $line) {
					echo $line."<br>";
				}
			?></pre>
			<br>

			<?php $i=0;
			foreach($backup_file as $file) {
			if (file_exists($file ?? '')) { ?>
				<a href='<?=$config['rel_root_folder']?>tmp/<?=$backup_filename[$i]?>' target='_blank'><i class="fas fa-file-export"></i> Télécharger le fichier "<i><?=$backup_filename[$i]?></i>"</a><br>
			<?php 		} else { ?>
				Fichier <?=$file?> non généré
			<?php 	} 
				$i++;
			}?>

			<br>
			<h4>Archives des anciennes sauvegardes</h4>
			<ul style="padding: 1em 0 1em 40px;">
			<?php	foreach($backup_files as $file) { ?>
					<li style="padding: 0 0 0.2em 0;"><?=basename($file)?> - <a href='<?=$config['rel_root_folder']?>tmp/<?=basename($file)?>' target='_blank'><i class="fas fa-download"></i> Télécharger</a> - <a href='<?=$config['rel_root_folder']?>admin/<?=$controller->splitted_url[1]?>/delete/<?=basename($file)?>'><i class="fas fa-trash"></i> Effacer</a></li>
			<?php	} ?>
			</ul>
		</section>

		<?php include('blocks/d.footer.html'); ?>

	</body>
</html>