<!DOCTYPE html>
<!-- Page: admin logs -->
<html lang="fr">

	<?php include('blocks/d.head.html'); ?>

	<body>

		<?php include('blocks/d.nav.html'); ?>

		<!-- Logs viewer -->
		<section>
			<h1><?=$head['title']?></h1>
				<!-- Log file selector -->
				<span class="subtitle">
					<select id="logfile">
						<?php $i = 0;
						foreach ($files_list as $row) {
							if ($row != "." && $row != "..") { ?>
								<option <?=$i==$filenb?'selected':''?> value="<?=$i?>"><?php echo $row; ?></option>
							<?php $i++;
							} ?>
						<?php } ?>
					</select>
				</span>
			<br>
			<br>
			<!-- Log content -->
			<pre><?php
			foreach($output as $line) {
					echo $line."<br>";
				}
			?></pre>
		</section>

		<!-- Log file navigation -->
		<script type="text/javascript">
$( "#logfile" ).change(function() {
  window.location.href = "<?=$config['rel_root_folder']?>admin/logs/"+$( this ).val();
});
		</script>

		<?php include('blocks/d.footer.html'); ?>

	</body>
</html>
