<!DOCTYPE html>
<html lang="fr">

	<?php include('blocks/d.head.html'); ?>

	<body>

		<?php include('blocks/d.nav.html'); ?>

		<section>
			<h1><?=$head['title']?></h1>
			<br>
			<pre><?php
			print_r($output);
			?></pre>
			<br>
			<?php if (file_exists($report)) { ?>
				<a href='<?=$config['rel_root_folder']?>tmp/report.html' target='_blank'><i class="fas fa-chart-line"></i> Voir le rapport</a>
			<?php } else { ?>
				Echec de la commande
			<?php } ?>
		</section>

		<?php include('blocks/d.footer.html'); ?>

	</body>
</html>