<!DOCTYPE html>
<!-- Page: blog editor -->
<html lang="fr">

	<?php include('blocks/d.head.html'); ?>

	<body>

		<?php include('blocks/d.nav.html'); ?>

		<!-- Blog edit form -->
		<section>
			<?php if(isset($new) AND $new==1) { ?>
				<!-- Create article -->
				<form class="form" action="<?=$config['rel_root_folder']?>blog/new" method="post">
			<?php } 
			else { ?>
				<!-- Update article -->
				<form class="form" action="<?=$config['rel_root_folder']?>blog/<?=$blogArticle->permalink?>/edit" method="post">
			<?php } ?>
			
				<h1>
					<!-- Locale and title -->
					<select name="locale" id="locale">
						<?php foreach($locales->objs as $locale) { ?>
							<option <?=$blogArticle->locale==$locale->name?'selected':''?> value="<?=$locale->name?>"><?=$locale->display_name?></option>
						<?php } ?>
					</select>
					<input type="text" value="<?=$blogArticle->name?>" name="name" id="name" placeholder="Titre">
				</h1>

				<?php if(isset($error) AND $error=="permalink") { ?>
					<!-- Permalink error -->
					<p style="color: red;">L'URL sélectionnée est déjà prise.</p>
				<?php } ?>

				<!-- Article content -->
				<textarea rows="30" name="content" id="content" placeholder="Contenu de l'article"><?=$blogArticle->content?></textarea>

				<?php if(isset($new) AND $new==1) { ?>
					<!-- Permalink settings -->
					<div id="permalink_container">
						<label id="permalink_label" for="permalink"><?=$config['web_root_folder']?>blog/</label>
						<input type="text" name="permalink" id="permalink" placeholder="URL" required>
					</div>
				<?php } ?>

				<!-- Article options -->
				<label for="is_commentable">
					<input type="checkbox" name="is_commentable" id="is_commentable"
					<?php if($blogArticle->is_commentable == 't') { ?>
						checked
					<?php } ?>
					/>
					<span>Autoriser les commentaires</span>
				</label>

				<!-- Form submission -->
				<input name="submit" id="submit" type="submit" value="Envoyer">
			</form>
		</section>

		<!-- Permalink generation -->
		<script type="text/javascript">
$( "#name" ).keyup(function() {
  permalink = $( "#name" ).val();
  permalink = permalink.replace(/ /g,'_');
  permalink = permalink.toLowerCase();
  permalink = permalink.replace(/[^a-z0-9_]/g,'-');
  permalink = permalink.replace(/[_-]+$/g,'');
  $( "#permalink" ).val(permalink);
});
$( "#name" ).change(function() {
  permalink = $( "#name" ).val();
  permalink = permalink.replace(/ /g,'_');
  permalink = permalink.toLowerCase();
  permalink = permalink.replace(/[^a-z0-9_]/g,'-');
  permalink = permalink.replace(/[_-]+$/g,'');
  $( "#permalink" ).val(permalink);
});
		</script>

		<?php include('blocks/d.footer.html'); ?>

	</body>
</html>
