<!DOCTYPE html>
<!-- Page: user profile -->
<html lang="fr">

	<?php include('blocks/d.head.html'); ?>

	<body>

		<?php include('blocks/d.nav.html'); ?>

		<section id="profile">
			<?php if ($userProfile->id != 0) { ?>
				<!-- Profile header -->
				<h1><?=$userProfile->name?></h1>
				<?php if($user->rankIsHigher("moderator") || $user->id == $userProfile->id) { ?>
				<a class="subtitle" id="editprofile" href="<?=$config['rel_root_folder']?>user/p/<?=$userProfile->id?>/edit"><i class="fas fa-pencil-alt"></i> Éditer les paramètres du compte</a>
				<?php } ?>
				<article>
					<!-- Profile info -->
					<div id="profilepart">
						<?php if(isset($mailsent) AND $mailsent==1) { ?>
							<p style="color: #006600;">Le message a bien été envoyé.</p>
						<?php } ?>
						<aside class="<?=$userProfile->is_avatar_present=='t'?'':'no'?>avatar">
							<img alt="Avatar" id="profileavatar" src="<?=$config['rel_root_folder']?>medias/avatars/<?=$userProfile->id?>_p.jpg" alt="Profile picture">
							<i id="profilenoavatar" class="fas fa-user-secret"></i>
						</aside>
							<div id="description">
								<p>Langue : <?=$userProfile->get_locale()?></p>
								<p>Inscrit le <?php echo datefmt_format($user->datetime_format,date_create($userProfile->register_date, new DateTimeZone("UTC"))) ?></p>
								<p>Dernière connexion le <?php echo datefmt_format($user->datetime_format,date_create($userProfile->visit_date, new DateTimeZone("UTC"))) ?></p>
								<p><?=$userProfile->get_rank()?></p>
								<p>
									<?php if ($userProfile->website != "") { ?>
										<a target="_blank" href="<?=$userProfile->website?>">Site internet <span class="external-link"><i class="fas fa-external-link-alt"></i></span></a>
									<?php }
									if ($userProfile->website != "" AND $userProfile->id != $user->id) { ?>
										 &mdash; 
									<?php }
									if ($userProfile->id != $user->id) { ?>
										<a href="#" onclick="$('#profilepart').hide(0, function(){$('#contact').show('fast');});">Contacter par mail</a>
									<?php }
									if ($user->rankIsHigher("premium") AND ($userProfile->website != "" OR $userProfile->id != $user->id)) { ?>
										 &mdash; 
									<?php }
									if ($user->rankIsHigher("premium")) { ?>
										<a href="mailto:<?=$userProfile->email?>"><?=$userProfile->email?></a>
									<?php } ?>
								</p>
							</div>
							<div style="clear:both;"></div>
					</div>
						<?php if ($userProfile->id != $user->id) { ?>
							<!-- Contact form -->
							<form style="display:none;" class="form" id="contact" action="<?=$config['rel_root_folder']?>user/p/<?=$userProfile->id?>" method="post" >
								<textarea rows="12" name="message" id="message" placeholder="Votre message"></textarea>
								<p><i>Votre adresse email sera transmise à votre destinataire.</i></p>
								<input type="submit" name="submit" value="Envoyer">
							</form>
						<?php } ?>
				</article>
			<?php } else { ?>
				<p style="color:red;">Le profil demandé n'existe pas.</p>
			<?php } ?>
		</section>

		<?php include('blocks/d.footer.html'); ?>

	</body>
</html>
