<!DOCTYPE html>
<!-- Page: password reset -->
<html lang="fr">

	<?php include('blocks/d.head.html'); ?>

	<body>

		<?php include('blocks/d.nav.html'); ?>

		<section>
			<h1>Envoi d'un mot de passe</h1>
			<!-- Reset form -->
			<form class="form" action="<?=$config['rel_root_folder']?>user/password_lost" method="post" id="password_lodt">
				<?php if(isset($_GET['error']) AND $_GET['error']==1) { ?>
					<p style="color: red;">Cette adresse mail n'existe pas.</p>
				<?php } ?>
				<input type="email" name="email" id="email" placeholder="Adresse mail">
				<input type="submit" name="submit" value="Envoyer un nouveau mot de passe">
			</form>
		</section>

		<?php include('blocks/d.footer.html'); ?>

	</body>
</html>
