<!DOCTYPE html>
<html lang="fr">

	<?php include('blocks/d.head.html'); ?>

	<body>

		<?php include('blocks/d.nav.html'); ?>

		<section>
			<form class="form" action="<?=$config['rel_root_folder']?>wiki/<?=$wikiPage->permalink?>/edit" method="post">
				<h1>
					<select name="locale" id="locale">
						<?php foreach($locales->objs as $locale) { ?>
							<option <?=$wikiPage->locale==$locale->name?'selected':''?> value="<?=$locale->name?>"><?=$locale->display_name?></option>
						<?php } ?>
					</select>
					<input type="text" value="<?=$wikiPage->name?>" name="name" id="name" placeholder="Titre">
				</h1>

				<textarea rows="30" name="content" id="content" placeholder="Contenu de la page"><?=$wikiPage->content?></textarea>

				<input name="submit" id="submit" type="submit" value="Envoyer">
			</form>
		</section>

		<?php include('blocks/d.footer.html'); ?>

	</body>
</html>