<!DOCTYPE html>
<html lang="fr">

	<? include('blocks/d.head.html'); ?>

	<body>

		<? include('blocks/d.nav.html'); ?>

		<section>
			<h1><?=$head['title']?></h1>
			<br>
			<h3>Retour de l'execution de la commande :</h3><br>
			<pre><? print_r($output);
			foreach($output as $line) {
					echo $line."<br>";
				}
			?></pre>
			<? if ($result === 0 && file_exists($report)) { ?>
				<a href='/report.html' target='_blank'><i class="fas fa-chart-line"></i> Voir le rapport</a>
			<? } else { ?>
				Echec de la commande
			<? } ?>
		</section>

		<? include('blocks/d.footer.html'); ?>

	</body>
</html>