<!DOCTYPE html>
<html lang="fr">

	<? include('blocks/d.head.html'); ?>

	<body>

		<? include('blocks/d.nav.html'); ?>

		<section id="blog_article" <?=$blogArticle->is_archive=="t"||$blogArticle->is_public=="f"?'class="archive"':''?>>
			<h1><?=$blogArticle->name?>.</h1>
				<? if($user->rankIsHigher('premium')) { ?>
					<span class="subtitle">
					<? if(isset($blogHistory)) { ?>
						<select id="bloghistory">
							<? $i = 0;
							foreach ($blogHistory->objs as $row) { ?>
								<option <?=$row->id==$blogArticle->id?'selected':''?> value="<?=$i?>"><?=$row->is_archive=="f"?'&bull; ':''?><? echo strftime('%d/%m/%Y %H:%M:%S',strtotime($row->update_date)) ?></option>
							<? $i++;
							} ?>
						</select>
					<? } 
					if ($user->rankIsHigher('moderator') && isset($blogHistory)) { ?>
						 &mdash; 
					<? }
					if ($user->rankIsHigher("moderator")) { ?>
						<a href="<?=$config['rel_root_folder']?>blog/<?=$blogArticle->permalink?>/edit"><i class="fas fa-pencil-alt"></i> Éditer l'article</a> &mdash; 
						<? if ($blogArticle->is_public == 't') { ?>
							<a href="<?=$config['rel_root_folder']?>blog/<?=$blogArticle->permalink?>/delete"><i class="fas fa-trash"></i> Effacer l'article</a>
						<? } else { ?>
							<a href="<?=$config['rel_root_folder']?>blog/<?=$blogArticle->permalink?>/restore"><i class="fas fa-eye"></i> Restaurer l'article</a>
						<? } ?>
					<? } ?>
					</span>
				<? } ?>

			<div id="blogContent">
				<?=$blogArticle->content_html?>
			</div>

			<p id="blogTimestamp">Article écrit par 
			<? if ($user->rankIsHigher("blocked")) { ?>
				<a href="<?=$config['rel_root_folder']?>user/p/<?=$blogArticle->author?>"><?=$blogArticle->author_name?></a>
			<? } 
			else { ?>
				<?=$blogArticle->author_name?> 
			<? } ?>
			le <? echo strftime('%e %B %G, %kh%Mm%Ss',strtotime($blogArticle->creation_date)) ?> <small><abbr title="Temps Universel Coordonné">UTC</abbr></small></p>

			<!-- COMMENTS -->

			<? if ($blogArticle->is_commentable == "t" && $blogArticle->is_archive == "f" && $blogArticle->is_public == "t") { ?>
				<div id="new_comment">
					<form class="form" action="<?=$config['rel_root_folder']?>blog/<?=$blogArticle->permalink?>/new_comment" method="post">
						<div id="new_comment_label" <?=$user->rank=="visitor"?"class='sent' ":""?>>
							<? if ($user->rankIsHigher("registered")) { ?>
								<input name="submit" type="submit" value="Envoyer">
								<p>Ajouter un nouveau commentaire</p>
							<? } else { ?>
								<p>Veuillez vous connecter pour ajouter un commentaire</p>
							<? } ?>
						</div>
						<div id="new_comment_form">
							<textarea id="comment" name="comment" rows="5" placeholder="Votre commentaire"></textarea>
						</div>
					</form>
				</div>

				<? if(isset($blogArticles_comments_list)) {
					foreach ($blogArticles_comments_list as $row) { ?>

						<article <? if($row->archive == 't') echo 'class="comment_archive" '; ?>>
							<div class="comment_title">
								<? if ($row->author_obj->avatar=='t') { ?>
									<img alt="Avatar" class="icon avatar" src="<?=$config['rel_root_folder']?>medias/avatars/<?=$row->author_obj->id?>_s.jpg">
								<? } else { ?>
									<i class="icon fas fa-user-secret"></i>
								<? } ?>
								<? if ($user->rankIsHigher("blocked")) { ?>
								<a class="username" href="<?=$config['rel_root_folder']?>user/p/<?=$row->author_obj->id?>"><?=$row->author_obj->name?></a>
								<? } else { ?>
									<?=$row->author_obj->name?>
								<? } ?>
								le <? echo strftime('%e %B %G, %kh%Mm%Ss',strtotime($row->lastedit)) ?> <small><abbr title="Temps Universel Coordonné">UTC</abbr></small>
								<? if (($user->rankIsHigher("moderator") || $user->id == $row->author) && $row->archive == 'f') { ?>
									<span class="delete_link"><a href="<?=$config['rel_root_folder']?>blog/<?=$blogArticle->permalink?>/delete_comment/<?=$row->id?>"><i class="fas fa-trash"></i> Effacer le commentaire</a></span>
								<? } ?>
								<? if (($user->rankIsHigher("moderator") || $user->id == $row->author) && $row->archive == 't') { ?>
									<span class="delete_link"><a href="<?=$config['rel_root_folder']?>blog/<?=$blogArticle->permalink?>/restore_comment/<?=$row->id?>"><i class="fas fa-eye"></i> Restaurer le commentaire</a></span>
								<? } ?>
							</div>
							<div class="comment_content">
								<?=$row->content_html?>
							</div>
						</article>

					<? }
				}
			} ?>

			<br>
			<br>
			<div style="clear: both;"> </div>
		</section>

<? if($user->rankIsHigher("premium")) { ?>
		<script type="text/javascript">
$( "#bloghistory" ).change(function() {
  window.location.href = "<?=$config['rel_root_folder']?>blog/<?=$blogArticle->permalink?>/"+$( this ).val();
});
		</script>
<? } ?>
<? if($user->rankIsHigher("registered")) { ?>
		<script type="text/javascript">
$( "#new_comment_label" ).click(function() {
  $( "#new_comment_form" ).show(400);
  $( "#new_comment_label input" ).show(0);
  $( "#new_comment_label").addClass('sent');
});
		</script>
<? } ?>

		<? include('blocks/d.footer.html'); ?>

	</body>
</html>