<!DOCTYPE html>
<html lang="fr">

	<? include('blocks/d.head.html'); ?>
	
	<body>

		<? include('blocks/d.nav.html'); ?>

		<aside id="indexFullW">
			<!-- <div id="AScontent">
				<div id="spacebeforesponsors"></div>
				<div id="sponsors">
					<p style="font-size: 1.3em;">Aidez Kabano en partagant sa <a style="font-weight: 6b00; color: orange; float: none; padding: 0; display: inline;" href="http://fr.ulule.com/kabano/" target="_blank">campagne de financement Ulule</a> !</p>
				</div>
			</div> -->
		</aside>

		<section id="index">
			<h1>Cabanes et bivouac en montagne.</h1>
			<p><abbr title="Cabane en espéranto">Kabano</abbr> est une plateforme collaborative sur laquelle vous pouvez récupérer toutes les informations nécessaires relatives aux hébergements en montagne. Ces informations ont été ajoutées par vous, pour vous, c'est pourquoi il est primordial de ne pas cesser d'ajouter des commentaires, cabanes, refuges ou emplacements de bivouac. Attention toutefois, ces données ne sont en aucun cas garanties et des précautions dues à l'environnement montagnard sont à prendre.</p>
			<br>
			<p style="text-align: center;">
				<img alt="Illustration hut" src="<?=$config['views_url']?>img/thumb1.jpg" class="thumb" title="© ptit tapou - Forums Pyrénées Team">
				<img alt="Illustration tent" src="<?=$config['views_url']?>img/thumb2.jpg" class="thumb">
				<img alt="Illustration hut" src="<?=$config['views_url']?>img/thumb3.jpg" class="thumb" title="CC BY-SA - EricM - refuges.info">
			</p>
		</section>

		<? include('blocks/d.footer.html'); ?>

	</body>
</html>
