<!DOCTYPE html>
<html lang="fr">

	<? include('blocks/d.head.html'); ?>
	
	<body>

		<? include('blocks/d.nav.html'); ?>

		<aside id="indexFullW">
			<!-- <div id="AScontent">
				<div id="spacebeforesponsors"></div>
				<div id="sponsors">
					<p style="font-size: 1.3em;">Aidez Kabano en partagant sa <a style="font-weight: 6b00; color: orange; float: none; padding: 0; display: inline;" href="http://fr.ulule.com/kabano/" target="_blank">campagne de financement Ulule</a> !</p>
				</div>
			</div> -->
		</aside>

<?
	require_once($config['models_folder']."d.wiki.php");
	$wikiPage = new Kabano\WikiPage();
	$wikiPage->checkPermalink('index');
	$wikiPage->md2html();
?>

		<section id="index">
			<h1><?=$wikiPage->name?></h1>

			<? if($user->rankIsHigher('moderator')) { ?>
				<span class="subtitle">
					<a href="<?=$config['rel_root_folder']?>wiki/index/edit"><i class="fas fa-pencil-alt"></i> Éditer la page</a>
				</span>
			<? } ?>

			<br><br>

			<?=$wikiPage->content_html?>

			<p style="text-align: center;">
				<img alt="Illustration hut" src="<?=$config['views_url']?>img/thumb1.jpg" class="thumb" title="© ptit tapou - Forums Pyrénées Team">
				<img alt="Illustration tent" src="<?=$config['views_url']?>img/thumb2.jpg" class="thumb">
				<img alt="Illustration hut" src="<?=$config['views_url']?>img/thumb3.jpg" class="thumb" title="CC BY-SA - EricM - refuges.info">
			</p>
		</section>

		<? include('blocks/d.footer.html'); ?>

	</body>
</html>
