<!DOCTYPE html>
<html lang="fr">

	<? include('blocks/d.head.html'); ?>
	
	<body>

		<? include('blocks/d.nav.html'); ?>

		<aside id="indexFullW">
			<div id="AScontent">
				<div id="imglegend">
					<p>Refuge de Pointe Basse.</p>
				</div>
			</div>
		</aside>

<?
	require_once($config['models_folder']."d.wiki.php");
	$wikiPage = new Kabano\WikiPage();
	$wikiPage->checkPermalink('index');
	$wikiPage->md2html();
?>

		<section id="index">
			<h1><?=$wikiPage->name?></h1>

			<? if($user->rankIsHigher('moderator')) { ?>
				<span class="subtitle">
					<a href="<?=$config['rel_root_folder']?>wiki/index/edit"><i class="fas fa-pencil-alt"></i> Éditer la page</a>
				</span>
			<? } ?>

			<br><br>

			<?=$wikiPage->content_html?>

			<div style="text-align: center;">
				<div class="imglegend">
					<img alt="Héliportage vers une cabane" src="<?=$config['rel_root_folder']?>medias/img/heliportage-cabane.jpg">
					<p>Héliportage vers La Peyrouse</p>
				</div>
				<div class="imglegend">
					<img alt="Fournil mobile" src="<?=$config['rel_root_folder']?>medias/img/fournil-mobile.jpg">
					<p>Fournil mobile</p>
				</div>
				<div class="imglegend">
					<img alt="Cabane du col blanc" src="<?=$config['rel_root_folder']?>medias/img/cabane-col-blanc.jpg">
					<p>Cabane du col blanc</p>
				</div>
			</div>

			<div class="container">
				<div class="colonne"><a href="<?=$config['rel_root_folder']?>wiki/restauration-de-refuges">Restauration de refuges</a><p>Je restaure et répare ces cabanes pastorales, de randonneurs, ou pour scientifiques. Que ce soit les menuiseries métalliques, le système électrique, la plomberie, la charpente, la couverture ou de la petite maçonnerie.</p></div>
				<div class="colonne"><a href="<?=$config['rel_root_folder']?>wiki/metallerie">Métallerie agricole</a><p>Je construis, répare, ou adapte vos machines et outils agricoles maraichers, viticoles ou dans la transformation du blé. Le tout dans mon atelier à Durban-sur-Arize (09)</p></div>
				<div class="colonne"><a href="<?=$config['rel_root_folder']?>map">Inventaire de cabanes</a><p>Je vous mets à disposition un inventaire des cabanes et refuges de montagne, en France et ailleurs, pour que vous puissiez y passer une nuit ou un repas.</p></div>
			</div>
		</section>

		<? include('blocks/d.footer.html'); ?>

	</body>
</html>
