/*********************************/
/** Wiki files page             **/ 
/*********************************/

#wiki_files table {
	width: 100%;
	margin: 10px auto 30px;
}

#wiki_files table, #wiki_files td {
    border: 1px solid #ccc;
    border-collapse: collapse;
}
#wiki_files th {
    border: 1px solid #aaa;
    border-collapse: collapse;
}
#wiki_files th a {
    color: inherit !important;
}
#wiki_files th i {
    float: right;
}

#wiki_files td, #wiki_files th {
	padding: 5px;
}

#wiki_files tr:nth-child(even) {
	background: #efefef;
}
#wiki_files tr:nth-child(odd) {
	background: #e1e1e1;
}
#wiki_files tr.first {
	background: #ccc;
}
#wiki_files tr:hover {
	background: #f5f5f5;
}
#wiki_files tr.first:hover {
	background: #ccc;
}

#wiki_files .pagebuttons {
	text-align: center;
}
#wiki_files .pagebuttons a {
	background: #efefef;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 1.5em;
}
#wiki_files .pagebuttons .previous {
    margin-right: -1px;
}

#wiki_files td a {
	display: block;
}
#wiki_files .center {
	text-align: center;
}

#send_file {
	display: flex;
}
#send_file div {
	padding: 10px;
	margin: 10px;
}
#send_file div {
	flex: 2
}
#send_file input[type="submit"] {
	text-align: center;
	width: 150px;
	flex: 1;
	margin: 10px;
	padding: 10px;
	border-bottom: 2px solid blue;
}