/*********************************/
/** View page                   **/
/*********************************/

#wikiTimestamp {
	font-size: 0.8em;
	font-weight: 500;
	float: right;
	font-style: italic;
}

form.form input, form.form textarea, #locale {
	background: #ddd;
	border-bottom: 2px solid #ccc;
	display: block;
	padding: 10px;
}

form.form textarea {
	font-size: 14px;
	margin: 10px 0 10px 0px;
	width: calc(100% - 20px);
}
form.form input {
	width: 58%;
	margin: 10px 0 10px 0px;
	font-size: 18px;
}
#locale {
	width: 38%;
	float: right;
	font-size: 17px;
}

form.form input[type=submit] {
	width: auto;
	margin: auto;
	border-bottom: 2px solid blue;
}

#wikiContent {
	margin: 50px 0;
}

#wikiContent h2 { margin: .75em 0 }
#wikiContent h3 { margin: .83em 0 }
#wikiContent h4, #wikiContent p, #wikiContent blockquote, #wikiContent ul, #wikiContent fieldset, #wikiContent form, #wikiContent ol, #wikiContent dl { margin: 1.12em 0 }
#wikiContent h5 { margin: 1.5em 0 }
#wikiContent h6 { margin: 1.67em 0 }
#wikiContent blockquote { margin-left: 40px; margin-right: 40px }
#wikiContent ol, #wikiContent ul, #wikiContent dd { margin-left: 40px }
#wikiContent ol ul, #wikiContent ul ol, #wikiContent ul ul, #wikiContent ol ol { margin-top: 0; margin-bottom: 0 }
#wikiContent hr { border: 1px solid #bbb }

#wikiContent .footnotes {
	font-size: 0.8em;
}
#wikiContent .footnotes p {
	margin: 0.4em 0;
}

#wiki_page.archive {
	opacity: 0.5;
}