		<footer>
			<div class="flex">
				<p class="flex-element"><a target="_blank" href="https://www.facebook.com/profile.php?id=61578287940971"><i class="fab fa-facebook-square"></i></a> Léo Serre &mdash; <script>document.write("06 " + "1" + "8 6" + "2 3" + "2 ");</script>&#48;&#53;</p>
				<div id="footernav" class="flex-element">
					<a href="<?=$config['rel_root_folder']?>wiki/legal">Mentions Légales</a> &mdash; 
					<a href="<?=$config['rel_root_folder']?>contact">Contact</a>
				</div>
			</div>
		</footer>